*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    
}
.navlist li{
    list-style: none;

}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
}
.left-container, .right-container{
    height: 100vh;
    display:flex;
    align-items: center;
}
.left-container{
    background: #262525;
    width: 70%;
    padding-left: 3rem;

}
.right-container{
    background: linear-gradient(-45deg, #3877ff, #262525);
    width: 30%;

}
.icons .fa-brands{
    color: #bbb;

}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 3rem;
    
}
.content{
    margin-left: 6rem;

}
.content .intro{
    font-size: 1.5rem;
    color: #fff;
}
.content .intro span{
    color: #5db9ee;
}

.content h4{
    font-size: 2rem;
    color: #5db9ee;
}
.content .detail{
    font-size: 1.1rem;
    color: #fff;
    max-width: 36rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;

}
.btn-container button{
    border: .1rem solid #5db9ee;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s ease;
}
button:nth-child(1){
    background: #5db9ee;
    color: #262525
}
button:nth-last-child(2){
    background: transparent;
    color: #5db9ee;
    margin-left: 2rem;

}
button:nth-child(1):hover{
    background: transparent;
    color: #5db9ee;
}
button:nth-child(2):hover{
    background: #5db9ee;
    color: #262525;
}
.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff, #3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top:50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg, transparent 50%, #262525 50%);
    width: 38rem;
}
.circle:nth-child(2){
    width: 30rem;
    background-image: url("images/newdp.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow:
    0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem  #3877ff,
    inset 0 0 2rem #3877ff,

}
.navlist li a::after ,.navlist .active::after {
    content: "";
    position: absolute;
    background: #fff;
    width:100%;
    height:.1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transform: transform .3s;

}
.navlist li a:hover ::after, .navlist .active::after{
    transform: scaleX(1);
    transform-origin: bottom left;

}